@import-normalize;

body {
  margin: 0;
  font-family: 'Poppins',
    sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Abril Fatface',
    cursive;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.main {
  flex: 1 0 auto;
  background: -webkit-linear-gradient(90deg, rgb(103, 124, 232), rgb(82, 182, 169) 45%, rgb(204, 247, 142) 100%);
  background: -moz-linear-gradient(90deg, rgb(103, 124, 232), rgb(82, 182, 169) 45%, rgb(204, 247, 142) 100%);
  background: linear-gradient(90deg, rgb(103, 124, 232), rgb(82, 182, 169) 45%, rgb(204, 247, 142) 100%);
}

nav .brand-logo {
  padding: 5px;
  width: 65px;
}